openapi: 3.0.0
info:
  title: MyTimeAPI
  version: '2.0'
  description: REST and RPC API to work with the CATS Time Entry system.
  contact:
    email: PHPDev_Group@ftr.com
servers:
  - url: 'http://mytime.opperp.nwestnetwork.com'
    description: OPPERP
paths:
  '/v2/profile/{cris}':
    parameters:
      - type: string
        name: cris
        in: path
        required: true
        description: MyTime user CRIS ID
        schema:
          type: string
          pattern: '^[0-9]{5,6}$'
          minLength: 5
          maxLength: 6
    get:
      summary: GetProfile - PutProfile
      tags:
        - Users
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Profile
                type: object
                description: User MyTime profile
                properties:
                  message:
                    type: string
                  cris:
                    type: string
                    minLength: 6
                    maxLength: 6
                    pattern: '^[0-9]{6}$'
                  name:
                    type: string
                    description: User name in CATS
                  site:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: 3 digit site code
                  workgroup:
                    type: string
                    description: CATS workgroup code
                  workgroup_status:
                    type: string
                    description: Current workgroup status in CATS
                  home_state:
                    type: string
                    minLength: 2
                    maxLength: 2
                    pattern: '^[A-Z]{2}$'
                    description: State abbreviation
                  alt1_state:
                    type: string
                    minLength: 2
                    maxLength: 2
                    pattern: '^[A-Z]{2}$'
                    description: User alternate state 1
                  calccode:
                    type: string
                    description: Calculation code
                  alt2_state:
                    type: string
                    minLength: 2
                    maxLength: 2
                    pattern: '^[A-Z]{2}$'
                    description: User alternate state 2
                  workday4:
                    type: string
                    description: Scheduled flag for Wednesday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  workday3:
                    type: string
                    description: Scheduled flag for Tuesday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  workday2:
                    type: string
                    description: Scheduled flag for Monday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  workday1:
                    type: string
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                    description: Scheduled flag for Sunday
                  costcenter:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: User cost center in CATS
                  tour:
                    type: string
                    description: User tour in CATS
                    minLength: 1
                    maxLength: 1
                    pattern: '^[A-Z]$'
                  laborclass:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: User labor class from CATS
                  endtime:
                    type: string
                    description: Not Used
                  starttime:
                    type: string
                    description: Not Used
                  workday7:
                    type: string
                    description: Scheduled flag for Saturday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  workday6:
                    type: string
                    description: Scheduled flag for Friday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  workday5:
                    type: string
                    description: Scheduled flag for Thursday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  securitySchemes: {}
                  activePeriodEndDate:
                    type: string
                    description: User site active period end date from CATS
                    format: date
                    maxLength: 10
                    pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
                  week:
                    type: string
                    format: date
                    maxLength: 10
                    pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
                    description: 'For PUT requests, the week the updates should be applied'
                required:
                  - alt1_state
                  - alt2_state
                  - tour
                  - week
      operationId: get-profile
      description: Get user MyTime profile
    put:
      summary: ''
      operationId: put-profile
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Profile
                type: object
                description: User MyTime profile
                properties:
                  message:
                    type: string
                  cris:
                    type: string
                    minLength: 6
                    maxLength: 6
                    pattern: '^[0-9]{6}$'
                  name:
                    type: string
                    description: User name in CATS
                  site:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: 3 digit site code
                  workgroup:
                    type: string
                    description: CATS workgroup code
                  workgroup_status:
                    type: string
                    description: Current workgroup status in CATS
                  home_state:
                    type: string
                    minLength: 2
                    maxLength: 2
                    pattern: '^[A-Z]{2}$'
                    description: State abbreviation
                  alt1_state:
                    type: string
                    minLength: 2
                    maxLength: 2
                    pattern: '^[A-Z]{2}$'
                    description: User alternate state 1
                  calccode:
                    type: string
                    description: Calculation code
                  alt2_state:
                    type: string
                    minLength: 2
                    maxLength: 2
                    pattern: '^[A-Z]{2}$'
                    description: User alternate state 2
                  workday4:
                    type: string
                    description: Scheduled flag for Wednesday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  workday3:
                    type: string
                    description: Scheduled flag for Tuesday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  workday2:
                    type: string
                    description: Scheduled flag for Monday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  workday1:
                    type: string
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                    description: Scheduled flag for Sunday
                  costcenter:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: User cost center in CATS
                  tour:
                    type: string
                    description: User tour in CATS
                    minLength: 1
                    maxLength: 1
                    pattern: '^[A-Z]$'
                  laborclass:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: User labor class from CATS
                  endtime:
                    type: string
                    description: Not Used
                  starttime:
                    type: string
                    description: Not Used
                  workday7:
                    type: string
                    description: Scheduled flag for Saturday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  workday6:
                    type: string
                    description: Scheduled flag for Friday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  workday5:
                    type: string
                    description: Scheduled flag for Thursday
                    minLength: 1
                    maxLength: 1
                    pattern: '^[Y|N]$'
                  securitySchemes: {}
                  activePeriodEndDate:
                    type: string
                    description: User site active period end date from CATS
                    format: date
                    maxLength: 10
                    pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
                  week:
                    type: string
                    format: date
                    maxLength: 10
                    pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
                    description: 'For PUT requests, the week the updates should be applied'
                required:
                  - alt1_state
                  - alt2_state
                  - tour
                  - week
      description: Update user MyTime profile
      requestBody:
        content:
          application/json:
            schema:
              title: Profile
              type: object
              description: User MyTime profile
              properties:
                message:
                  type: string
                cris:
                  type: string
                  minLength: 6
                  maxLength: 6
                  pattern: '^[0-9]{6}$'
                name:
                  type: string
                  description: User name in CATS
                site:
                  type: string
                  minLength: 3
                  maxLength: 3
                  pattern: '^[0-9]{3}$'
                  description: 3 digit site code
                workgroup:
                  type: string
                  description: CATS workgroup code
                workgroup_status:
                  type: string
                  description: Current workgroup status in CATS
                home_state:
                  type: string
                  minLength: 2
                  maxLength: 2
                  pattern: '^[A-Z]{2}$'
                  description: State abbreviation
                alt1_state:
                  type: string
                  minLength: 2
                  maxLength: 2
                  pattern: '^[A-Z]{2}$'
                  description: User alternate state 1
                calccode:
                  type: string
                  description: Calculation code
                alt2_state:
                  type: string
                  minLength: 2
                  maxLength: 2
                  pattern: '^[A-Z]{2}$'
                  description: User alternate state 2
                workday4:
                  type: string
                  description: Scheduled flag for Wednesday
                  minLength: 1
                  maxLength: 1
                  pattern: '^[Y|N]$'
                workday3:
                  type: string
                  description: Scheduled flag for Tuesday
                  minLength: 1
                  maxLength: 1
                  pattern: '^[Y|N]$'
                workday2:
                  type: string
                  description: Scheduled flag for Monday
                  minLength: 1
                  maxLength: 1
                  pattern: '^[Y|N]$'
                workday1:
                  type: string
                  minLength: 1
                  maxLength: 1
                  pattern: '^[Y|N]$'
                  description: Scheduled flag for Sunday
                costcenter:
                  type: string
                  minLength: 3
                  maxLength: 3
                  pattern: '^[0-9]{3}$'
                  description: User cost center in CATS
                tour:
                  type: string
                  description: User tour in CATS
                  minLength: 1
                  maxLength: 1
                  pattern: '^[A-Z]$'
                laborclass:
                  type: string
                  minLength: 3
                  maxLength: 3
                  pattern: '^[0-9]{3}$'
                  description: User labor class from CATS
                endtime:
                  type: string
                  description: Not Used
                starttime:
                  type: string
                  description: Not Used
                workday7:
                  type: string
                  description: Scheduled flag for Saturday
                  minLength: 1
                  maxLength: 1
                  pattern: '^[Y|N]$'
                workday6:
                  type: string
                  description: Scheduled flag for Friday
                  minLength: 1
                  maxLength: 1
                  pattern: '^[Y|N]$'
                workday5:
                  type: string
                  description: Scheduled flag for Thursday
                  minLength: 1
                  maxLength: 1
                  pattern: '^[Y|N]$'
                securitySchemes: {}
                activePeriodEndDate:
                  type: string
                  description: User site active period end date from CATS
                  format: date
                  maxLength: 10
                  pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
                week:
                  type: string
                  format: date
                  maxLength: 10
                  pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
                  description: 'For PUT requests, the week the updates should be applied'
              required:
                - alt1_state
                - alt2_state
                - tour
                - week
      tags:
        - Users
  '/v2/tour/{tour-id}':
    get:
      summary: GetTour
      tags:
        - Users
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: Tour
                type: object
                properties:
                  id:
                    type: string
                  site:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: CATS site
                  tourcd:
                    type: string
                    minLength: 1
                    maxLength: 1
                    pattern: '^[A-Z]$'
                    description: CATS tour code
                  start:
                    type: string
                    description: Not used
                  stop:
                    type: string
                    description: Not used
                  hours:
                    type: string
                    pattern: "^[0-9]{1,2}\\.[0-9]{2}$"
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                required:
                  - id
                  - site
                  - tourcd
                description: Tour information from CATS
                x-tags:
                  - Codes
      operationId: get-tour
      description: Retrieve single tour object
      parameters: []
    parameters:
      - schema:
          type: string
          pattern: "^[0-9]{3}\\.[A-Z]$"
        name: tour-id
        in: path
        required: true
        description: Unique tour ID
  /v2/tour:
    get:
      summary: GetTourCollection
      tags:
        - Users
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: TourCollection
                type: object
                properties:
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                  _embedded:
                    type: object
                    properties:
                      tour:
                        type: array
                        items:
                          title: Tour
                          type: object
                          properties:
                            id:
                              type: string
                            site:
                              type: string
                              minLength: 3
                              maxLength: 3
                              pattern: '^[0-9]{3}$'
                              description: CATS site
                            tourcd:
                              type: string
                              minLength: 1
                              maxLength: 1
                              pattern: '^[A-Z]$'
                              description: CATS tour code
                            start:
                              type: string
                              description: Not used
                            stop:
                              type: string
                              description: Not used
                            hours:
                              type: string
                              pattern: "^[0-9]{1,2}\\.[0-9]{2}$"
                            _links:
                              title: SelfLink
                              type: object
                              properties:
                                self:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      description: URL to current resource
                                      format: uri
                              description: Resource self URL
                          required:
                            - id
                            - site
                            - tourcd
                          description: Tour information from CATS
                          x-tags:
                            - Codes
                  total_items:
                    type: integer
                x-tags:
                  - Codes
      operationId: get-tour-collection
      description: Get collection of tours for the given site query parameter
      parameters:
        - schema:
            type: string
            maxLength: 3
            minLength: 3
            pattern: '^[0-9]{3}$'
          in: query
          name: site
          description: CATS site code
          required: true
    parameters: []
  '/v2/specialhour/{specialhour-id}':
    get:
      summary: GetSpecialHourCode
      tags:
        - Codes
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: Specialhour
                type: object
                description: Special Hour codes from CATS
                properties:
                  id:
                    type: string
                  site:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: CATS site code
                  code:
                    type: string
                    description: Special Hours code from CATS
                    minLength: 2
                    maxLength: 3
                    pattern: '^[A-Z0-9]{2,3}$'
                  description:
                    type: string
                    description: Special Hour code description from CATS
                  rateflag:
                    type: string
                    description: 'Special rate applied in CATS: Y=User entered, R=From CATS'
                    enum:
                      - 'Y'
                      - R
                    minLength: 0
                    maxLength: 1
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                required:
                  - site
                  - code
                x-tags:
                  - Codes
      operationId: get-specialhour
      description: Retrieve special hour code object
    parameters:
      - schema:
          type: string
          pattern: "^[0-9]{3}\\.[A-Z0-9]{2}$"
        name: specialhour-id
        in: path
        required: true
        description: Unique ID of the special hour code
  /v2/specialhour:
    get:
      summary: GetSpecialHourCollection
      tags:
        - Codes
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: SpecialHourCollection
                type: object
                description: Collection of Special Hour codes
                x-tags:
                  - Codes
                properties:
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                  _embedded:
                    type: object
                    properties:
                      special_hour:
                        type: array
                        items:
                          title: Specialhour
                          type: object
                          description: Special Hour codes from CATS
                          properties:
                            id:
                              type: string
                            site:
                              type: string
                              minLength: 3
                              maxLength: 3
                              pattern: '^[0-9]{3}$'
                              description: CATS site code
                            code:
                              type: string
                              description: Special Hours code from CATS
                              minLength: 2
                              maxLength: 3
                              pattern: '^[A-Z0-9]{2,3}$'
                            description:
                              type: string
                              description: Special Hour code description from CATS
                            rateflag:
                              type: string
                              description: 'Special rate applied in CATS: Y=User entered, R=From CATS'
                              enum:
                                - 'Y'
                                - R
                              minLength: 0
                              maxLength: 1
                            _links:
                              title: SelfLink
                              type: object
                              properties:
                                self:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      description: URL to current resource
                                      format: uri
                              description: Resource self URL
                          required:
                            - site
                            - code
                          x-tags:
                            - Codes
      operationId: get-specialhour-collection
      description: Get collection of special hour codes for the given site query parameter
      parameters:
        - schema:
            type: string
            pattern: '^[0-9]{3}$'
          in: query
          name: site
          description: CATS site code
          required: true
    parameters: []
  '/v2/overtime/{overtime-id}':
    get:
      summary: GetOvertimeCode
      tags:
        - Codes
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: Overtime
                type: object
                description: Overtime code information
                properties:
                  id:
                    type: string
                  site:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: CATS site code
                  code:
                    type: string
                    minLength: 1
                    maxLength: 1
                    pattern: '^[A-Z0-9]$'
                    description: Overtime code from CATS
                  description:
                    type: string
                    description: Overtime code description
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                required:
                  - site
                  - code
                  - description
      operationId: get-overtime
      description: Retrieve single overtime code object
    parameters:
      - schema:
          type: string
          pattern: "^[0-9]{3}\\.[0-9]{1,2}\\.[A-Z]$"
        name: overtime-id
        in: path
        required: true
        description: Overtime code ID
  /v2/overtime:
    get:
      summary: GetOvertimeCollection
      tags:
        - Codes
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: OvertimeCollection
                type: object
                description: Collection of overtime codes for a site
                properties:
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                  _embedded:
                    type: object
                    properties:
                      overtime:
                        type: array
                        items:
                          title: Overtime
                          type: object
                          description: Overtime code information
                          properties:
                            id:
                              type: string
                            site:
                              type: string
                              minLength: 3
                              maxLength: 3
                              pattern: '^[0-9]{3}$'
                              description: CATS site code
                            code:
                              type: string
                              minLength: 1
                              maxLength: 1
                              pattern: '^[A-Z0-9]$'
                              description: Overtime code from CATS
                            description:
                              type: string
                              description: Overtime code description
                            _links:
                              title: SelfLink
                              type: object
                              properties:
                                self:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      description: URL to current resource
                                      format: uri
                              description: Resource self URL
                          required:
                            - site
                            - code
                            - description
      operationId: get-overtime-collection
      description: Get collection of overtime codes for the given site query paramter
      parameters:
        - schema:
            type: string
            pattern: '^[0-9]{3}$'
          in: query
          name: site
          description: CATS site code
          required: true
    parameters: []
  '/v2/reimbursement/{reim-id}':
    get:
      summary: GetReimbursement
      tags:
        - Codes
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: Reimbursement
                type: object
                description: Reimbursement code infomation from CATS
                properties:
                  id:
                    type: string
                  site:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: CATS site code
                  code:
                    type: string
                    minLength: 2
                    maxLength: 2
                    pattern: '^[A-Z0-9]{2}$'
                    description: Reimbursement code from CATS
                  description:
                    type: string
                    description: Reimbursement code description
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                required:
                  - site
                  - code
                  - description
      operationId: get-reimbursement
      description: Retrieve single reimbursement object
    parameters:
      - schema:
          type: string
          pattern: "^[0-9]{3}\\.[A-Z0-9]{2}$"
        name: reim-id
        in: path
        required: true
        description: Reimbursement code
  /v2/reimbursement:
    get:
      summary: GetReimbursementCollection
      tags:
        - Codes
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: ReimbursementCollection
                type: object
                description: Collection of reimbursement codes for a site
                properties:
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                  _embedded:
                    type: object
                    properties:
                      reimbursement:
                        type: array
                        items:
                          title: Reimbursement
                          type: object
                          description: Reimbursement code infomation from CATS
                          properties:
                            id:
                              type: string
                            site:
                              type: string
                              minLength: 3
                              maxLength: 3
                              pattern: '^[0-9]{3}$'
                              description: CATS site code
                            code:
                              type: string
                              minLength: 2
                              maxLength: 2
                              pattern: '^[A-Z0-9]{2}$'
                              description: Reimbursement code from CATS
                            description:
                              type: string
                              description: Reimbursement code description
                            _links:
                              title: SelfLink
                              type: object
                              properties:
                                self:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      description: URL to current resource
                                      format: uri
                              description: Resource self URL
                          required:
                            - site
                            - code
                            - description
      operationId: get-reimbursement-collection
      description: Get collection of reimbursement codes for the given site query parameter
      parameters:
        - schema:
            type: string
            pattern: '^[0-9]{3}$'
          in: query
          name: site
          description: CATS site code
          required: true
    parameters: []
  /v2/tasktype:
    get:
      summary: GetTaskTypes
      tags:
        - Workflow
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: TasktypeCollection
                type: object
                description: Collection of top level task types for workflow tree
                properties:
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                  _embedded:
                    type: object
                    properties:
                      tasks:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              minLength: 2
                              maxLength: 2
                              pattern: '^[A-Z]{2}$'
                              description: Task type code
                            description:
                              type: string
                              description: Task type description
                            workflow:
                              type: string
                              description: Describes which workflow type to follow
                            questionId:
                              type: string
                              description: 'If workflow is "question", this will be the first question ID to follow'
                            active:
                              type: string
                              enum:
                                - 'Y'
                                - 'N'
                              description: Is the task type active
                          required:
                            - type
                            - description
                            - workflow
                            - active
                  total_items:
                    type: integer
                x-tags:
                  - Workflow
      operationId: get-tasktype-collection
      description: Get collection of top level task types for the MyTime workflow tree
      parameters:
        - schema:
            type: string
            pattern: '^[0-9]{3}$'
          in: query
          name: laborclass
          description: Filter by CATS labor class
    parameters: []
  '/v2/exchange/{exchange-id}':
    get:
      summary: GetExchange
      tags:
        - Codes
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: Exchange
                type: object
                description: 'Exchange contains state, charge company, opa, etc'
                x-examples:
                  NC.GARDENCITY:
                    id: NC.GARDEN CITY
                    state: NC
                    operating_area: '621'
                    exchange: GARDEN CITY
                    charge_company: '974'
                    _links:
                      self:
                        href: '/v2/exchange/NC.GARDEN%20CITY'
                x-tags:
                  - Exchanges
                properties:
                  id:
                    type: string
                  state:
                    type: string
                    description: State Abbreviation
                    minLength: 2
                    maxLength: 2
                    pattern: '^[A-Z]{2}$'
                  operating_area:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                  exchange:
                    type: string
                    description: Name of the City
                  charge_company:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                required:
                  - id
                  - state
                  - operating_area
                  - exchange
                  - charge_company
      operationId: get-exchange
      description: Retrieve single exchange object
    parameters:
      - schema:
          type: string
          pattern: "^[A-Z0-9\\.\\ ]+$"
        name: exchange-id
        in: path
        required: true
        description: Unique ID of the exchange
  /v2/exchange:
    get:
      summary: GetExchangeCollection
      tags:
        - Codes
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: ExchangeCollection
                type: object
                description: Collection of exchange resources
                x-examples:
                  NC Exchanges:
                    _links:
                      self:
                        href: /v2/exchange?state=NC
                    _embedded:
                      exchange:
                        - id: NC.GARDEN CITY
                          state: NC
                          operating_area: '621'
                          exchange: GARDEN CITY
                          charge_company: '974'
                          _links:
                            self:
                              href: '/v2/exchange/NC.GARDEN%20CITY'
                        - id: NC.Non Lam - Company 974
                          state: NC
                          operating_area: '628'
                          exchange: Non Lam - Company 974
                          charge_company: '974'
                          _links:
                            self:
                              href: '/v2/exchange/NC.Non%20Lam%20-%20Company%20974'
                        - id: NC.HIGHLANDS
                          state: NC
                          operating_area: '621'
                          exchange: HIGHLANDS
                          charge_company: '974'
                          _links:
                            self:
                              href: /v2/exchange/NC.HIGHLANDS
                    total_items: 3
                properties:
                  _embedded:
                    type: object
                    required:
                      - exchange
                    properties:
                      exchange:
                        type: array
                        items:
                          title: Exchange
                          type: object
                          description: 'Exchange contains state, charge company, opa, etc'
                          x-examples:
                            NC.GARDENCITY:
                              id: NC.GARDEN CITY
                              state: NC
                              operating_area: '621'
                              exchange: GARDEN CITY
                              charge_company: '974'
                              _links:
                                self:
                                  href: '/v2/exchange/NC.GARDEN%20CITY'
                          x-tags:
                            - Exchanges
                          properties:
                            id:
                              type: string
                            state:
                              type: string
                              description: State Abbreviation
                              minLength: 2
                              maxLength: 2
                              pattern: '^[A-Z]{2}$'
                            operating_area:
                              type: string
                              minLength: 3
                              maxLength: 3
                              pattern: '^[0-9]{3}$'
                            exchange:
                              type: string
                              description: Name of the City
                            charge_company:
                              type: string
                              minLength: 3
                              maxLength: 3
                              pattern: '^[0-9]{3}$'
                            _links:
                              title: SelfLink
                              type: object
                              properties:
                                self:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      description: URL to current resource
                                      format: uri
                              description: Resource self URL
                          required:
                            - id
                            - state
                            - operating_area
                            - exchange
                            - charge_company
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                required:
                  - _embedded
      operationId: get-exchange-collection
      description: Get collection of exchanges for the given site query parameter
      parameters:
        - schema:
            type: string
            pattern: '^[0-9]{3}$'
          in: query
          name: site
          description: CATS site code
          required: true
    parameters: []
  '/v2/question/{question-id}':
    get:
      summary: GetQuestion
      tags:
        - Workflow
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: Question
                type: object
                description: MyTime workflow tree question
                x-tags:
                  - Workflow
                properties:
                  id:
                    type: string
                    pattern: '^[A-Z]{3}[0-9]{7}$'
                  question:
                    type: string
                    description: The question text
                  type:
                    type: string
                    description: The question input display type
                    enum:
                      - select
                      - radio
                      - check
                      - text
                  helptext:
                    type: string
                    description: Additional text about the question
                  answers:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                          description: Answer text
                        value:
                          type: string
                          description: Answer ID
                        next:
                          type: string
                          description: Optional next question ID
                        main:
                          type: string
                          description: 'Main charge account, optional'
                          minLength: 0
                          maxLength: 4
                        sub:
                          type: string
                          description: 'Sub charge account, optional (must have a main account)'
                          minLength: 0
                          maxLength: 3
                        helptext:
                          type: string
                          description: Additional text about the answer
                      required:
                        - text
                        - value
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                required:
                  - question
      operationId: get-question
      description: Retrieve a single question object
      parameters: []
      requestBody: {}
    parameters:
      - schema:
          type: string
        name: question-id
        in: path
        required: true
        description: Unique ID of the question
  /v2/question:
    get:
      summary: GetQuestionCollection
      tags:
        - Workflow
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: QuestionCollection
                type: object
                description: Collection of questions with answers
                x-tags:
                  - Workflow
                properties:
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                  _embedded:
                    type: object
                    properties:
                      question:
                        type: array
                        items:
                          title: Question
                          type: object
                          description: MyTime workflow tree question
                          x-tags:
                            - Workflow
                          properties:
                            id:
                              type: string
                              pattern: '^[A-Z]{3}[0-9]{7}$'
                            question:
                              type: string
                              description: The question text
                            type:
                              type: string
                              description: The question input display type
                              enum:
                                - select
                                - radio
                                - check
                                - text
                            helptext:
                              type: string
                              description: Additional text about the question
                            answers:
                              type: array
                              items:
                                type: object
                                properties:
                                  text:
                                    type: string
                                    description: Answer text
                                  value:
                                    type: string
                                    description: Answer ID
                                  next:
                                    type: string
                                    description: Optional next question ID
                                  main:
                                    type: string
                                    description: 'Main charge account, optional'
                                    minLength: 0
                                    maxLength: 4
                                  sub:
                                    type: string
                                    description: 'Sub charge account, optional (must have a main account)'
                                    minLength: 0
                                    maxLength: 3
                                  helptext:
                                    type: string
                                    description: Additional text about the answer
                                required:
                                  - text
                                  - value
                            _links:
                              title: SelfLink
                              type: object
                              properties:
                                self:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      description: URL to current resource
                                      format: uri
                              description: Resource self URL
                          required:
                            - question
      operationId: get-question-collection
      description: Get collection of question objects optionally filtered by laborclass query parameter
      parameters:
        - schema:
            type: string
          in: query
          name: laborclass
          description: CATS 3 digit labor class
        - schema:
            type: string
          in: query
          name: qid
          description: 'Question ID, this filter returns workflow tree starting at given qid'
    parameters: []
  '/v2/nonprod/{nonprod-id}':
    get:
      summary: GetNonProductive
      tags:
        - Codes
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: Non-productive
                type: object
                description: 'Non productive code information '
                properties:
                  id:
                    type: string
                  site:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: CATS site code
                  main:
                    type: string
                    description: Main charge account code
                    maxLength: 4
                  sub:
                    type: string
                    description: Sub charge account code
                    maxLength: 3
                  allow_future:
                    type: boolean
                    description: Allow future time to be charged against this code
                  description:
                    type: string
                    description: Non-prod code description
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                required:
                  - site
                  - main
                  - allow_future
                  - description
                x-tags:
                  - Codes
      operationId: get-nonprod
      description: Retrieve single non-productive code object
    parameters:
      - schema:
          type: string
        name: nonprod-id
        in: path
        required: true
        description: Unique non-productive code ID
  /v2/nonprod:
    get:
      summary: GetNonProductiveCollection
      tags:
        - Codes
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: Non-productiveCollection
                type: object
                description: Collection of non-prod codes for a site
                properties:
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                  _embedded:
                    type: object
                    properties:
                      nonprod:
                        type: array
                        items:
                          title: Non-productive
                          type: object
                          description: 'Non productive code information '
                          properties:
                            id:
                              type: string
                            site:
                              type: string
                              minLength: 3
                              maxLength: 3
                              pattern: '^[0-9]{3}$'
                              description: CATS site code
                            main:
                              type: string
                              description: Main charge account code
                              maxLength: 4
                            sub:
                              type: string
                              description: Sub charge account code
                              maxLength: 3
                            allow_future:
                              type: boolean
                              description: Allow future time to be charged against this code
                            description:
                              type: string
                              description: Non-prod code description
                            _links:
                              title: SelfLink
                              type: object
                              properties:
                                self:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      description: URL to current resource
                                      format: uri
                              description: Resource self URL
                          required:
                            - site
                            - main
                            - allow_future
                            - description
                          x-tags:
                            - Codes
                  total_items:
                    type: integer
                x-tags:
                  - Codes
      operationId: get-nonprod-collection
      description: Get collection of non-productive codes for the given site query parameter
      parameters:
        - schema:
            type: string
          in: query
          name: site
          description: CATS site code
          required: true
    parameters: []
  '/v2/project/{project-id}':
    get:
      summary: GetProject
      tags:
        - Workflow
        - TimeEntry
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: Project
                type: object
                description: Project information from the PJ system
                properties:
                  id:
                    type: string
                  project:
                    type: string
                    pattern: '^[0-9]{7}$'
                    description: Main project ID
                  subproject:
                    type: string
                    minLength: 1
                    maxLength: 1
                    pattern: '^[0-9]$'
                    description: Subproject ID
                  company:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: Project charge company code
                  opa:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: Project operating area code
                  description:
                    type: string
                    description: Project title
                  accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        main:
                          type: string
                          description: Main charge account
                          minLength: 4
                          maxLength: 4
                          pattern: '^[0-9]{4}$'
                        sub:
                          type: string
                          description: Sub charge account
                          minLength: 3
                          maxLength: 3
                          pattern: '^[0-9]{3}$'
                      required:
                        - main
                        - sub
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                required:
                  - project
                  - subproject
                  - company
                  - opa
                  - description
                x-tags:
                  - Workflow
      operationId: get-project
      description: Retrieve project information used for time entry
    parameters:
      - schema:
          type: string
        name: project-id
        in: path
        required: true
        description: Unique ID that includes project.subproject ID
  /v2/project:
    get:
      summary: GetProjectCollection
      tags:
        - Workflow
        - TimeEntry
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: ProjectCollection
                type: object
                description: 'Collection of projects/subprojects '
                x-tags:
                  - Workflow
                properties:
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                  _embedded:
                    type: object
                    properties:
                      project:
                        type: array
                        items:
                          title: Project
                          type: object
                          description: Project information from the PJ system
                          properties:
                            id:
                              type: string
                            project:
                              type: string
                              pattern: '^[0-9]{7}$'
                              description: Main project ID
                            subproject:
                              type: string
                              minLength: 1
                              maxLength: 1
                              pattern: '^[0-9]$'
                              description: Subproject ID
                            company:
                              type: string
                              minLength: 3
                              maxLength: 3
                              pattern: '^[0-9]{3}$'
                              description: Project charge company code
                            opa:
                              type: string
                              minLength: 3
                              maxLength: 3
                              pattern: '^[0-9]{3}$'
                              description: Project operating area code
                            description:
                              type: string
                              description: Project title
                            accounts:
                              type: array
                              items:
                                type: object
                                properties:
                                  main:
                                    type: string
                                    description: Main charge account
                                    minLength: 4
                                    maxLength: 4
                                    pattern: '^[0-9]{4}$'
                                  sub:
                                    type: string
                                    description: Sub charge account
                                    minLength: 3
                                    maxLength: 3
                                    pattern: '^[0-9]{3}$'
                                required:
                                  - main
                                  - sub
                            _links:
                              title: SelfLink
                              type: object
                              properties:
                                self:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                      description: URL to current resource
                                      format: uri
                              description: Resource self URL
                          required:
                            - project
                            - subproject
                            - company
                            - opa
                            - description
                          x-tags:
                            - Workflow
      operationId: get-project-collection
      description: Get collection of projects to use in time entry
      parameters:
        - schema:
            type: string
          in: query
          name: pid
          description: Filter by 7 digit project ID
        - schema:
            type: string
          in: query
          name: chargecompany
          description: Filter by 3 digit charge company
        - schema:
            type: string
          in: query
          name: opa
          description: Filter by 3 digit operation area
        - schema:
            type: string
          in: query
          name: state
          description: Filter by 2 character state abbreviation
    parameters: []
  '/v2/week/{week-enddate}/{cris}':
    get:
      summary: GetWeekTimeEntry
      tags:
        - TimeEntry
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Week
                type: object
                description: Weekly time entry information for the user
                properties:
                  cris:
                    type: string
                    description: User CRIS ID
                    minLength: 5
                    maxLength: 6
                    pattern: '^[0-9]{5,6}$'
                  periodend:
                    type: string
                    format: date
                    description: Week end date (Saturday) in YYYY-MM-DD format
                  site:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^[0-9]{3}$'
                    description: CATS site code
                  status:
                    type: 'null'
                  days:
                    type: array
                    items:
                      title: Day
                      type: object
                      description: Time entry data pertaining to a specific day
                      x-tags:
                        - Workflow
                        - TimeEntry
                      properties:
                        cris:
                          type: string
                          description: CRIS ID of the user
                          minLength: 5
                          maxLength: 6
                          pattern: '^[0-9]{5,6}$'
                        workdate:
                          type: string
                          format: date
                          description: Date in YYYY-MM-DD format
                        site:
                          type: string
                          minLength: 3
                          maxLength: 3
                          pattern: '^[0-9]{3}$'
                          description: CATS site code
                        workgroup:
                          type: string
                          description: User work group in CATS
                          minLength: 2
                          maxLength: 2
                          pattern: '^[A-Z]{2}$'
                        tour:
                          type: string
                          description: User tour in CATS
                          minLength: 1
                          maxLength: 1
                          pattern: '^[A-Z]$'
                        scheduled:
                          type: string
                          description: Is the day a scheduled day for the user
                          enum:
                            - 'Y'
                            - 'N'
                        calccode:
                          type: string
                          description: User calculation code in CATS
                        tasks:
                          type: array
                          description: 'Array of time entry tasks, may be empty'
                          items:
                            title: Task
                            type: object
                            description: Time entry task
                            x-tags:
                              - Workflow
                              - TimeEntry
                            properties:
                              taskseq:
                                type: string
                                pattern: "^[0-9]+\\.[0-9]{2}$"
                                description: Task sequence major.minor used to relate task entries together
                              state:
                                type: string
                                minLength: 2
                                maxLength: 2
                                pattern: '^[A-Z]{2}$'
                                description: State abbreviation
                              exchange:
                                description: Exchange ID
                                type: string
                              overtime:
                                type: string
                                description: Overtime code
                              opa:
                                type: string
                                description: Operating area
                                minLength: 3
                                maxLength: 3
                                pattern: '^[0-9]{3}$'
                              costcenter:
                                type: string
                                description: Cost center code
                                minLength: 3
                                maxLength: 3
                                pattern: '^[0-9]{3}$'
                              chargecompany:
                                type: string
                                description: Charge company code
                                minLength: 3
                                maxLength: 3
                                pattern: '^[0-9]{3}$'
                              answer_id:
                                type: string
                                description: Workflow answer ID
                                pattern: '^[A-Z]{3}[0-9]{7}$'
                              question_id:
                                type: string
                                description: Workflow question ID
                                pattern: '^[A-Z]{3}[0-9]{7}$'
                              hours:
                                type: string
                                description: Time entry hours in decimal format
                                pattern: "^[0-9]{2}\\.[0-9]{2}$"
                              main:
                                type: string
                                description: Main charge account
                                maxLength: 4
                              sub:
                                type: string
                                description: Sub charge account
                                maxLength: 3
                              project:
                                type: string
                                description: Project ID to charge against
                              subproject:
                                type: string
                                description: Sub-project ID
                              automated:
                                type: string
                                description: Was the time entry auatomated or manual
                                enum:
                                  - T
                                  - F
                              jobid:
                                type: string
                                description: Job ID associated with the time entry
                            required:
                              - taskseq
                              - state
                              - exchange
                              - opa
                              - costcenter
                              - chargecompany
                              - answer_id
                              - question_id
                              - automated
                        specials:
                          type: array
                          uniqueItems: false
                          description: 'Special hours to charge against, may be empty'
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                                description: Special hour code from CATS
                                minLength: 2
                                maxLength: 3
                                pattern: '^[A-Z0-9]{2,3}$'
                              hours:
                                type: string
                                description: How many hours to apply to the code in decimal format
                                pattern: "^[0-9]{1,2}\\.[0-9]{2}$"
                            required:
                              - code
                              - hours
                        reimbursements:
                          type: array
                          description: 'Reimbursements to charge against, may be empty'
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                                description: Reimbursement code to charge against
                                minLength: 2
                                maxLength: 2
                                pattern: '^[A-Z0-9]{2}$'
                              units:
                                type: string
                                description: How many units of the reimbursement to apply
                                pattern: "^[0-9]{1,2}\\.[0-9]{2}$"
                            required:
                              - code
                              - units
                        adjustments:
                          type: 'null'
                      required:
                        - cris
                        - workdate
                        - site
                        - workgroup
                        - tour
                        - scheduled
                        - calccode
                        - tasks
                  _links:
                    title: SelfLink
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            description: URL to current resource
                            format: uri
                    description: Resource self URL
                required:
                  - cris
                  - periodend
                  - site
                x-tags:
                  - TimeEntry
                  - Workflow
      operationId: get-week
      description: Get the entire week of time entry results for the given user and week end date.
    parameters:
      - schema:
          type: string
        name: week-enddate
        in: path
        required: true
        description: 'Week ending date, must be a Saturday'
      - schema:
          type: string
        name: cris
        in: path
        required: true
        description: User CRIS ID
  /v2/errors:
    get:
      summary: GetTimeEntryErrors
      tags:
        - Workflow
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                title: ErrorLog
                type: object
                description: MyTime time entry error log
                properties:
                  CREATED:
                    type: string
                    format: date-time
                    description: Date and time error happened
                  WORKDATE:
                    type: string
                    format: date
                    description: Work date of the time entry
                  CRIS:
                    type: string
                    description: User CRIS ID
                  ACTION:
                    type: string
                    description: Type of time entry request
                  CATEGORY:
                    type: string
                    description: 'Time entry category: DAILYTIME, REIMBURSEMENT, SPECIALHOURS, WEEK'
                  STATE:
                    type: string
                  SITE:
                    type: string
                    description: CATS site code
                  TASK:
                    type: string
                    description: 'Task sequence, only for daily time entries'
                  HTTPCODE:
                    type: string
                    description: HTTP status code for the response
                  ERRORMSG:
                    type: string
                    description: Error message from MyTime/CATS
                  REQUEST:
                    oneOf:
                      - title: DailyTime
                        type: object
                        description: 'MyTime daily time entry '
                        properties:
                          cris:
                            type: string
                            description: User CRIS ID
                            minLength: 5
                            maxLength: 6
                            pattern: '^[0-9]{5,6}$'
                          workdate:
                            type: string
                            format: date
                            pattern: "^[0-9]{4}\\-[0-9]{2}\\-[0-9]{2}$"
                            description: Work date of the time entry
                          site:
                            type: string
                            description: 3 digit site code
                            minLength: 3
                            maxLength: 3
                            pattern: '^[0-9]{3}$'
                          workgroup:
                            type: string
                            pattern: '^[A-Z]{2}$'
                            description: User work group in CATS
                          tour:
                            type: string
                            pattern: '^[A-Z]$'
                            description: User tour in CATS
                          scheduled:
                            type: string
                            enum:
                              - 'Y'
                              - 'N'
                            description: Is the work date a scheduled day
                          calccode:
                            type: string
                            pattern: '^[0-9]$'
                            description: CATS caculation code for the site
                          tasks:
                            title: Task
                            type: object
                            description: Time entry task
                            x-tags:
                              - Workflow
                              - TimeEntry
                            properties:
                              taskseq:
                                type: string
                                pattern: "^[0-9]+\\.[0-9]{2}$"
                                description: Task sequence major.minor used to relate task entries together
                              state:
                                type: string
                                minLength: 2
                                maxLength: 2
                                pattern: '^[A-Z]{2}$'
                                description: State abbreviation
                              exchange:
                                description: Exchange ID
                                type: string
                              overtime:
                                type: string
                                description: Overtime code
                              opa:
                                type: string
                                description: Operating area
                                minLength: 3
                                maxLength: 3
                                pattern: '^[0-9]{3}$'
                              costcenter:
                                type: string
                                description: Cost center code
                                minLength: 3
                                maxLength: 3
                                pattern: '^[0-9]{3}$'
                              chargecompany:
                                type: string
                                description: Charge company code
                                minLength: 3
                                maxLength: 3
                                pattern: '^[0-9]{3}$'
                              answer_id:
                                type: string
                                description: Workflow answer ID
                                pattern: '^[A-Z]{3}[0-9]{7}$'
                              question_id:
                                type: string
                                description: Workflow question ID
                                pattern: '^[A-Z]{3}[0-9]{7}$'
                              hours:
                                type: string
                                description: Time entry hours in decimal format
                                pattern: "^[0-9]{2}\\.[0-9]{2}$"
                              main:
                                type: string
                                description: Main charge account
                                maxLength: 4
                              sub:
                                type: string
                                description: Sub charge account
                                maxLength: 3
                              project:
                                type: string
                                description: Project ID to charge against
                              subproject:
                                type: string
                                description: Sub-project ID
                              automated:
                                type: string
                                description: Was the time entry auatomated or manual
                                enum:
                                  - T
                                  - F
                              jobid:
                                type: string
                                description: Job ID associated with the time entry
                            required:
                              - taskseq
                              - state
                              - exchange
                              - opa
                              - costcenter
                              - chargecompany
                              - answer_id
                              - question_id
                              - automated
                          _links:
                            title: SelfLink
                            type: object
                            properties:
                              self:
                                type: object
                                properties:
                                  href:
                                    type: string
                                    description: URL to current resource
                                    format: uri
                            description: Resource self URL
                      - title: DailyReimbursement
                        type: object
                        description: MyTime daily reimbursement
                        properties:
                          cris:
                            type: string
                            description: User CRIS ID
                            minLength: 5
                            maxLength: 6
                            pattern: '^[0-9]{5,6}$'
                          workdate:
                            type: string
                            format: date
                            description: Reimbursement work date in YYYY-MM-DD format
                          site:
                            type: string
                            minLength: 3
                            maxLength: 3
                            pattern: '^[0-9]{3}$'
                            description: CATS site code
                          workgroup:
                            type: string
                            pattern: '^[A-Z]{2}$'
                            description: User work group in CATS
                          tour:
                            type: string
                            pattern: '^[A-Z]$'
                            description: User tour in CATS
                          scheduled:
                            type: string
                            enum:
                              - 'Y'
                              - 'N'
                            description: Is the work day a scheduled day
                          calccode:
                            type: string
                            pattern: '^[0-9]$'
                            description: CATS calculation code
                          reimbursements:
                            title: Reimbursement
                            type: object
                            description: Reimbursement code infomation from CATS
                            properties:
                              id:
                                type: string
                              site:
                                type: string
                                minLength: 3
                                maxLength: 3
                                pattern: '^[0-9]{3}$'
                                description: CATS site code
                              code:
                                type: string
                                minLength: 2
                                maxLength: 2
                                pattern: '^[A-Z0-9]{2}$'
                                description: Reimbursement code from CATS
                              description:
                                type: string
                                description: Reimbursement code description
                              _links:
                                title: SelfLink
                                type: object
                                properties:
                                  self:
                                    type: object
                                    properties:
                                      href:
                                        type: string
                                        description: URL to current resource
                                        format: uri
                                description: Resource self URL
                            required:
                              - site
                              - code
                              - description
                          _links:
                            title: SelfLink
                            type: object
                            properties:
                              self:
                                type: object
                                properties:
                                  href:
                                    type: string
                                    description: URL to current resource
                                    format: uri
                            description: Resource self URL
                      - title: DailySpecialHour
                        type: object
                        description: MyTime special hours entry
                        properties:
                          cris:
                            type: string
                            minLength: 5
                            maxLength: 6
                            pattern: '^[0-9]{5,6}$'
                            description: User CRIS ID
                          workdate:
                            type: string
                            description: Work date of the special hours entry
                            format: date
                          site:
                            type: string
                            description: CATS site code
                            minLength: 3
                            maxLength: 3
                            pattern: '^[0-9]{3}$'
                          workgroup:
                            type: string
                            description: User work group in CATS
                            minLength: 2
                            maxLength: 2
                            pattern: '^[A-Z]{2}$'
                          tour:
                            type: string
                            description: User tour in CATS
                            pattern: '^[A-Z]$'
                          scheduled:
                            type: string
                            description: Is the special hours day a scheduled day
                            enum:
                              - 'Y'
                              - 'N'
                          calccode:
                            type: string
                            description: CATS calculation code
                            pattern: '^[0-9]$'
                          specials:
                            title: Specialhour
                            type: object
                            description: Special Hour codes from CATS
                            properties:
                              id:
                                type: string
                              site:
                                type: string
                                minLength: 3
                                maxLength: 3
                                pattern: '^[0-9]{3}$'
                                description: CATS site code
                              code:
                                type: string
                                description: Special Hours code from CATS
                                minLength: 2
                                maxLength: 3
                                pattern: '^[A-Z0-9]{2,3}$'
                              description:
                                type: string
                                description: Special Hour code description from CATS
                              rateflag:
                                type: string
                                description: 'Special rate applied in CATS: Y=User entered, R=From CATS'
                                enum:
                                  - 'Y'
                                  - R
                                minLength: 0
                                maxLength: 1
                              _links:
                                title: SelfLink
                                type: object
                                properties:
                                  self:
                                    type: object
                                    properties:
                                      href:
                                        type: string
                                        description: URL to current resource
                                        format: uri
                                description: Resource self URL
                            required:
                              - site
                              - code
                            x-tags:
                              - Codes
                          _links:
                            title: SelfLink
                            type: object
                            properties:
                              self:
                                type: object
[...]
